body {
  font-family: system-ui, Roboto, Oxygen, Ubuntu, 'Helvetica Neue';
  margin: 20px;
  background-image: linear-gradient(to right, #5e88b1, #e9ecef);
  color: #212529;
}
.completed {
  text-decoration: line-through;
  color: gray;
}

